extends ../layouts/master-landing.pug



block header

  include ../partials/_header-plain.pug



block content

  .landing
  
    section.landing__top-section
      .landing__top-first-block
        .landing__top-first-background-layout
          .landing__top-first-background-image(data-aos="fade-up" style="background-image: url('images/top-background.png')")
        .container
          h1.landing__top-title(data-aos="fade-up")
            |#{'Research & Production Company ERGA'}
          .landing__top-first-description-block
            p.landing__top-first-description-text(data-aos="fade-up")
              |Russian largest manufacturer
              br
              |of magnetic systems and industrial equipment
          .landing__top-slider-block(data-aos="fade-up")
            .landing__top-slider-buttons(data-aos="fade-up")
              .landing__top-slider-button.landing__top-slider-button--left
                i.icon-arrow-right
              .landing__top-slider-button.landing__top-slider-button--right
                i.icon-arrow-right
            - const slidesCount = 3;
            .landing__top-slider-pagination(data-aos="fade-up")
              - for (let i = 0; i < slidesCount; i++)
                .landing__top-slider-pagination-item(class = (!i) ? 'landing__top-slider-pagination-item--active' : '')
            .landing__top-slider-container
              .swiper-wrapper
                - for (let i = 0; i < slidesCount; i++)
                  .swiper-slide.landing__top-slider-slide
                    figure.landing__top-slider-image
                      img.landing__top-slider-img(src='assets/images/landing/top-slide-1.png' alt='')
      .container(id = 'about')
        .landing__top-about-block(data-aos="fade-up")
          .landing__top-about-row
            .landing__top-about-col
              h2.landing__top-about-title(data-aos="fade-up")
                |About ERGA
            .landing__top-about-col
              p.landing__top-about-text(data-aos="fade-up")
                |The key activity of the company is development and production of equipment for mineral processing, air-gravity separation, complete solutions for the processing of various waste and separation of materials by electrical properties.
        .landing__top-movie-block
          #video_block.approach-video(data-aos='fade-up')
            .approach-video-link
              +img('video.svg')
            +img('about/video.jpg')

    section.landing__features-section
      .landing__features-decoration-block(data-aos="fade-up")
        ul.landing__features-decoration-list
          - for (let i = 0; i < 60; i++)
            li.landing__features-decoration-item
      .container
        .landing__features-wrapper
          ul.landing__features1
            li.landing__features1-item(data-aos="fade-up")
              h3.landing__features1-title
                |Research
              p.landing__features1-text
                |LIMiTS testing laboratory / Testing laboratory for mineral and industrial raw materials
            li.landing__features1-item(data-aos="fade-up")
              h3.landing__features1-title
                |Design
              p.landing__features1-text
                |Design and engineering solution of the tasks
            li.landing__features1-item(data-aos="fade-up")
              h3.landing__features1-title
                |Production
              p.landing__features1-text
                |#{'> 25 000 m² of modern production faciities'}
            li.landing__features1-item(data-aos="fade-up")
              h3.landing__features1-title
                |Implementation
              p.landing__features1-text
                |Professional service support: supervision and commissioning works, equipment diagnostics and repair, training of the customer's maintenance personnel
          ul.landing__features2
            li.landing__features2-item(data-aos="fade-up")
              figure.landing__features2-image
                img.landing__features2-img(src='assets/images/landing/feature-1.svg' alt='')
              p.landing__features2-text
                |ISO 9001: 2015 quality system
            li.landing__features2-item(data-aos="fade-up")
              figure.landing__features2-image
                img.landing__features2-img(src='assets/images/landing/feature-2.svg' alt='')
              p.landing__features2-text
                |#{'> 200 qualified employees'}
            li.landing__features2-item(data-aos="fade-up")
              figure.landing__features2-image
                img.landing__features2-img(src='assets/images/landing/feature-3.svg' alt='')
              p.landing__features2-text
                |Full production cycle
            li.landing__features2-item(data-aos="fade-up")
              figure.landing__features2-image
                img.landing__features2-img(src='assets/images/landing/feature-4.svg' alt='')
              p.landing__features2-text
                |Successful experience in export deliveries

    section.landing__industries-section(id = 'industries')
      .container
        .landing__interesting-title-row
          .landing__interesting-title-col(data-aos="fade-up")
            h2.landing__section-title
              |Industries
          .landing__interesting-title-col(data-aos="fade-up")
            +arrowLine('Show all industries')
        ul.landing__industries-list
          li.landing__industries-item(data-aos="fade-up")
            a.landing__industries-link(href='#select')
              figure.landing__industries-image
                img.landing__industries-img(src='assets/images/landing/industry-1.svg' alt='')
              h3.landing__industries-title
                |Mining
          li.landing__industries-item(data-aos="fade-up")
            a.landing__industries-link.popup-plain(href='#download-catalog')
              figure.landing__industries-image
                img.landing__industries-img(src='assets/images/landing/industry-2.svg' alt='')
              h3.landing__industries-title
                |Food
          li.landing__industries-item(data-aos="fade-up")
            a.landing__industries-link.popup-plain(href='#download-catalog')
              figure.landing__industries-image
                img.landing__industries-img(src='assets/images/landing/industry-3.svg' alt='')
              h3.landing__industries-title
                |Recycling
        .landing__interesting-mid(data-aos="fade-up")
          +arrowLine('Show all industries')

    section#select.landing__select-section
      .container
        h2.landing__section-title(data-aos="fade-up")
          |Select equipment for mining
          br
          |and processing industry
        h3.landing__select-title(data-aos="fade-up")
          |Select your material
        form.landing__select-form
          .filtersBody-checkboxes.row
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-1', data-title='Ferrous and alloying metal ores')
                label(for='item-1') Ferrous and alloying metal ores
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-2', data-title='Rare and rare-earth metal ores')
                label(for='item-2') Rare and rare-earth metal ores
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-3', data-title='Неметаллические полезные ископаемые')
                label(for='item-3') Non-metallic minerals
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-4', data-title='Non-metallic minerals')
                label(for='item-4') Nonferrous metal ores
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-5', data-title='Coal transportation and processing')
                label(for='item-5') Coal transportation and processing
            .col.col__md-6.col__xs-12(data-aos="fade-up")
              .filtersBody-checkbox.popup-plain(href='#get-quote')
                input(type='radio', name='industry', id='item-6', data-title='Stone quarries')
                label(for='item-6') Stone quarries
            .col.col__xs-12(data-aos="fade-up")
              a.landing__select-link.popup-plain(href='#not-found') Haven’t found your material?

    section.landing__interesting-section(id = 'products')
      .container
        .landing__interesting-title-row
          .landing__interesting-title-col(data-aos="fade-up")
            h2.landing__section-title
              |You can be interested in
          .landing__interesting-title-col(data-aos="fade-up")
            +arrowLine('Show other equipment')
        .landing__interesting-slider.trademark-tabs(data-aos="fade-up")
          include ../components/_trademark-carousel-landing
        .landing__interesting-mid(data-aos="fade-up")
          +arrowLine('Show other equipment')
        .landing__interesting-bottom
          .landing__interesting-bottom-row
            .landing__interesting-bottom-col(data-aos="fade-up")
              img.landing__interesting-background(src='assets/images/landing/interesting-background.png' arl='')
            .landing__interesting-bottom-col
              h3.landing__interesting-bottom-title(data-aos="fade-up")
                |products
                br
                |catalog
              .landing__interesting-bottom-download-wrapper(data-aos="fade-up")
                a.landing__interesting-bottom-download-link(href='#')
                  span.landing__interesting-bottom-download-text
                    |Download
                  i.icon-download.landing__interesting-bottom-download-icon

    section.landing__trademarks-section
      .container
        h2.landing__section-title(data-aos="fade-up")
          |OUR TRADEMARKS
        .landing__trademarks-tabs
          include ../components/_landing-tabs

    section.landing__partners-section
      .container
        h2.landing__section-title(data-aos="fade-up")
          |Our partners
        .landing__partners-slider-block.trademark-tabs(data-aos="fade-up")
          .swiper-button.landing__partners-slider-buttons
            .swiper-btnS-prev: i.icon-arrow-right
            .swiper-btnS-next: i.icon-arrow-right
          .trademark-carousel.trademark-carousel--js
            .swiper-wrapper
              - for (let i = 0; i < 8; i++)
                .swiper-slide
                  a.landing__partners-slider-slide(href='#')
                    .landing__partners-slide-block
                      figure.landing__partners-slide-image
                        img.landing__partners-slide-img(src=`assets/images/landing/partners-${i % 2 + 1}.png`)
                    h3.landing__partners-slide-title
                      |Cimaghand

    section.landing__sert-section
      - const count = 18;
      .landing__sert-container
        .container
          h2.landing__section-title(data-aos="fade-up")
            |Certificates
        .landing__sert-subslider
          .landing__sert-subslider-swiper
            .swiper-wrapper
              - for (let i = 0; i < count; i++)
                .swiper-slide
                  .container
                    p.landing__sert-subslider-text(data-aos='fade-up')
                      |Certificate of Conformity to ISO 9001:2015 Quality Management System
        .landing__sert-control-wrapper
          .container
            .newsOne-slider.landing__sert-control
              .swiper-pagination--js.swiper-pagination(data-aos='fade-up')
              .swiper-button(data-aos='fade-up')
                .swiper-btnSN-next: i.icon-arrow-right
                .swiper-btnSN-prev: i.icon-arrow-left
        .landing__sert-slider
          .landing__sert-slider-swiper
            .swiper-wrapper
              - for (let i = 0; i < count; i++)
                .swiper-slide
                  figure.landing__sert-slider-image(data-aos='fade-up')
                    img.landing__sert-slider-img.landing__sert-slider-img--mobile(src='assets/images/landing/sert-mobile.jpeg' alt='')
                    img.landing__sert-slider-img.landing__sert-slider-img--desktop(src='assets/images/landing/sert-desktop.jpeg' alt='')
      .landing__sert-marquee(data-aos="fade-up")
        .marquee.marquees
          |ISO 9001:2015 Quality Management System — ISO 9001:2015 Quality Management System — ISO 9001:2015 Quality Management System — ISO 9001:2015 Quality Management System — ISO 9001:2015 Quality Management System — ISO 9001:2015 Quality Management System

    section.landing__gallery-section
      .container(data-aos="fade-up")
        h2.landing__section-title(data-aos="fade-up")
          |GALLERY
        .landing__gallery-slider.newsOne-slider
          .landing__gallery-swiper(data-aos='fade-up')
            .swiper-wrapper
              - for (let x = 1; x < 9; x++)
                .swiper-slide.t--mask
                  .t__content
                    +img('news/slide-1.jpg')
                .swiper-slide.t--mask
                  .t__content
                    +img('news/slide-2.jpg')
                .swiper-slide.t--mask
                  .t__content
                    +img('news/slide-3.jpg')
          .swiper-pagination--js.swiper-pagination(data-aos='fade-up')
          .swiper-button(data-aos='fade-up')
            .swiper-btn-next: i.icon-arrow-right
            .swiper-btn-prev: i.icon-arrow-left
      .landing__gallery-marquee(data-aos="fade-up")
        .marquee.marquees
          |#{'Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA'}

    section.landing__contacts-section(id = 'contact' style="background-image: url('images/contacts-background.svg')")
      .container
        .landing__contacts-row
          .landing__contacts-col
            h2.landing__contacts-title(data-aos="fade-up")
              |Head office
            ul.landing__contacts-info-list
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |Address
                .landing__contacts-info-col
                  p.landing__contacts-info-text
                    |Russia, Kaluga, Khrustalnaya st., 22 (POB 65)
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                .landing__contacts-info-col
                  .landing__contacts-person-row
                    figure.landing__contacts-person-image
                      img.landing__contacts-person-img(src='assets/images/landing/contact-1.jpeg' alt='')
                    p.landing__contacts-person-name
                      |Alexey
                      br
                      |Chernov
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |E-mail
                .landing__contacts-info-col
                  .landing__contacts-link-wrapper
                    a.landing__contacts-info-text(href='#')
                      |info@rusmagnet.com
                  .landing__contacts-info-block
                    ul.landing__contacts-social-list
                      li.landing__contacts-social-item
                        a.landing__contacts-social-link
                          figure.landing__contacts-social-image
                            svg.landing__contacts-social-img(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                              g(clip-path="url(#clip0)")
                                path(d="M0.125229 15.9998L1.23365 11.9075C0.529314 10.7153 0.155235 9.3615 0.148292 7.97119C0.126498 3.62459 3.68317 0.0679279 8.07698 0.0438648C10.2092 0.0328505 12.2152 0.84334 13.7289 2.32551C15.2419 3.80768 16.0812 5.78417 16.0921 7.89117C16.1139 12.2384 12.5572 15.7951 8.16337 15.8192C6.82948 15.8258 5.51321 15.5022 4.34546 14.88L0.125229 15.9998ZM4.53337 13.4515C5.6604 14.1051 6.73504 14.4943 8.1534 14.4872C11.8052 14.4672 14.7639 11.5112 14.7461 7.89722C14.7276 4.27593 11.7508 1.3564 8.08695 1.37514C4.43248 1.39516 1.47581 4.35116 1.49426 7.96449C1.50166 9.43965 1.94475 10.5418 2.68505 11.6934L2.02867 14.1157L4.53337 13.4515ZM12.1462 9.78712C12.0962 9.70518 11.9632 9.65685 11.7629 9.55916C11.5633 9.46146 10.5814 8.99013 10.398 8.9255C10.2153 8.86086 10.0824 8.82844 9.95011 9.02674C9.81847 9.22437 9.43883 9.67067 9.32359 9.80258C9.20835 9.93449 9.09181 9.9517 8.89219 9.85401C8.69257 9.75631 8.04928 9.55231 7.28482 8.88486C6.69008 8.36566 6.28638 7.72276 6.16934 7.52582C6.0523 7.32955 6.15561 7.22224 6.25428 7.12357C6.34361 7.0349 6.45209 6.89242 6.55134 6.77652C6.65193 6.66193 6.68432 6.57953 6.75063 6.44723C6.81627 6.3156 6.78279 6.20041 6.73198 6.1019C6.68117 6.00406 6.2777 5.03627 6.10998 4.6427C5.94566 4.25971 5.78172 4.31233 5.6597 4.30703L5.27759 4.30249C5.14487 4.30322 4.9293 4.35346 4.74806 4.55203C4.56682 4.7506 4.05464 5.22945 4.05995 6.19941C4.06527 7.16937 4.78426 8.10228 4.88419 8.23301C4.98478 8.36373 6.30008 10.3469 8.30292 11.1892C8.77927 11.3895 9.15128 11.5088 9.44068 11.598C9.91875 11.7453 10.353 11.7217 10.6959 11.6694C11.0783 11.611 11.8717 11.1863 12.0354 10.7252C12.1991 10.2635 12.1969 9.86906 12.1462 9.78712Z" fill="white")
                              defs
                                clipPath(id="clip0")
                                  rect(width="16.0874" height="15.9121" fill="white" transform="translate(0 0.0878906) rotate(-0.313783)")
                          span.landing__contacts-social-title
                            |WhatsApp
                      li.landing__contacts-social-item
                        a.landing__contacts-social-link
                          figure.landing__contacts-social-image
                            svg.landing__contacts-social-img(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M0.282607 7.71437L3.96933 9.09037L5.39631 13.6795C5.48762 13.9735 5.84703 14.0821 6.08559 13.8871L8.14063 12.2118C8.35605 12.0362 8.66287 12.0275 8.88799 12.1909L12.5946 14.8819C12.8498 15.0674 13.2113 14.9276 13.2753 14.6192L15.9906 1.55837C16.0604 1.22152 15.7294 0.940506 15.4087 1.06456L0.278287 6.90141C-0.0950995 7.04541 -0.0918461 7.57405 0.282607 7.71437ZM5.16634 8.35789L12.3716 3.92019C12.5011 3.84067 12.6343 4.01576 12.5231 4.11891L6.57669 9.64637C6.36767 9.84093 6.23285 10.1013 6.19466 10.3839L5.9921 11.885C5.96527 12.0855 5.68373 12.1054 5.62842 11.9114L4.84938 9.17405C4.76015 8.86184 4.89018 8.52834 5.16634 8.35789Z" fill="white")
                          span.landing__contacts-social-title
                            |Telegram
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |Phone
                .landing__contacts-info-col
                  .landing__contacts-line-row
                    .landing__contacts-line-col
                      .landing__contacts-link-wrapper
                        a.landing__contacts-info-text(href='#')
                          |+7 4842 922-199
                      .landing__contacts-info-block.landing__contacts-info-block--caption
                        span.landing__contacts-info-text.landing__contacts-info-text--small
                          |Multichannel
                    .landing__contacts-line-col
                      p.landing__contacts-info-text.landing__contacts-info-text--small
                        |8:30 a.m. — 5:30 p.m. Moscow time
                        br
                        |SAT, SUN — days off
                  .landing__contacts-info-block
                    ul.landing__contacts-social-list
                      li.landing__contacts-social-item
                        a.landing__contacts-social-link
                          figure.landing__contacts-social-image
                            svg.landing__contacts-social-img(width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M4.65426 3.30769V4.80769H7L6.70213 7.5H4.65426V15H1.45213V7.5H0V4.80769H1.45213V3.30769C1.45213 3.30769 1.19149 0.461538 3.79787 0H7V2.42308H5.54787C5.54787 2.38462 4.72872 2.34615 4.65426 3.30769Z" fill="white")
                          span.landing__contacts-social-title
                            |Facebook
                      li.landing__contacts-social-item
                        a.landing__contacts-social-link
                          figure.landing__contacts-social-image
                            svg.landing__contacts-social-img(width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M15.6013 1.04745C14.2456 0.0487689 11.2329 0 8.5 0C5.76709 0 2.75443 0.0487689 1.39873 1.04745C0.043038 2.04614 0 4.20995 0 5.49992C0 6.78988 0.043038 8.9537 1.39873 9.95238C2.75443 10.9511 5.76709 11 8.5 11V10.9998C11.2329 10.9998 14.2456 10.9511 15.6013 9.95238C16.957 8.9537 17 6.78988 17 5.49992C17 4.20995 16.957 2.04614 15.6013 1.04745ZM11.1935 5.79087L11.194 5.79153L6.57586 8.17106C6.55107 8.18837 6.52404 8.20219 6.49495 8.21284L6.48927 8.21584L6.48892 8.21467C6.45156 8.22765 6.4118 8.23598 6.36979 8.23598C6.17371 8.23598 6.01481 8.08218 6.01481 7.89276V3.09675C6.01481 2.90717 6.17388 2.75354 6.36979 2.75354C6.42505 2.75354 6.47687 2.76685 6.52352 2.78866L6.5237 2.78849L11.194 5.20897L11.1938 5.2093C11.2945 5.26989 11.3622 5.37708 11.3622 5.50008C11.362 5.62309 11.2942 5.73028 11.1935 5.79087Z" fill="white")
                          span.landing__contacts-social-title
                            |Youtube
                      li.landing__contacts-social-item
                        a.landing__contacts-social-link
                          figure.landing__contacts-social-image
                            svg.landing__contacts-social-img(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                              g(clip-path="url(#clip0)")
                                path(d="M7.00027 4.62012C5.70527 4.62012 4.65527 5.67012 4.65527 6.96512C4.65527 8.26012 5.70527 9.31012 7.00027 9.31012C8.29527 9.31012 9.34527 8.26012 9.34527 6.96512C9.34527 5.67012 8.29527 4.62012 7.00027 4.62012Z" fill="white")
                                path(d="M9.45 0H4.55C2.065 0 0 2.065 0 4.55V9.415C0 11.935 2.065 13.965 4.55 13.965H9.415C11.935 13.965 13.965 11.9 13.965 9.415V4.55C14 2.065 11.935 0 9.45 0ZM7 10.64C5.005 10.64 3.36 9.03 3.36 7C3.36 4.97 5.005 3.36 7 3.36C8.995 3.36 10.64 4.97 10.64 7C10.64 8.995 9.03 10.64 7 10.64ZM10.57 4.235C10.08 4.235 9.695 3.815 9.695 3.36C9.695 2.905 10.115 2.45 10.57 2.45C11.06 2.45 11.445 2.87 11.445 3.325C11.445 3.85 11.06 4.235 10.57 4.235Z" fill="white")
                              defs
                                clipPath(id="clip0")
                                  rect(width="14" height="14" fill="white")
                          span.landing__contacts-social-title
                            |Instagram
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |Web
                .landing__contacts-info-col
                  .landing__contacts-link-wrapper
                    a.landing__contacts-info-text.landing__contacts-info-link(href='#')
                      |rusmagnet.com
          .landing__contacts-col
            h2.landing__contacts-title.landing__contacts-title--elongated(data-aos="fade-up")
              |Your contact in Iran
            ul.landing__contacts-info-list
              li.landing__contacts-info-row.landing__contacts-info-row--desktop--min-height--50(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |Address
                .landing__contacts-info-col
                  p.landing__contacts-info-text
                    |Tehran, Cimaghand Ltd.
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                .landing__contacts-info-col
                  .landing__contacts-person-row
                    figure.landing__contacts-person-image
                      img.landing__contacts-person-img(src='assets/images/landing/contact-2.jpeg' alt='')
                    p.landing__contacts-person-name
                      |Hamed Haghi
              li.landing__contacts-info-row(data-aos="fade-up")
                .landing__contacts-info-col
                  h3.landing__contacts-info-title
                    |E-mail
                .landing__contacts-info-col
                  .landing__contacts-link-wrapper
                    a.landing__contacts-info-text(href='#')
                      |hamed.haghi@gmail.com
                  .landing__contacts-info-block
                    .landing__contacts-line-row
                      .landing__contacts-line-col
                        ul.landing__contacts-social-list
                          li.landing__contacts-social-item
                            a.landing__contacts-social-link
                              figure.landing__contacts-social-image
                                svg.landing__contacts-social-img(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M0.282607 7.71437L3.96933 9.09037L5.39631 13.6795C5.48762 13.9735 5.84703 14.0821 6.08559 13.8871L8.14063 12.2118C8.35605 12.0362 8.66287 12.0275 8.88799 12.1909L12.5946 14.8819C12.8498 15.0674 13.2113 14.9276 13.2753 14.6192L15.9906 1.55837C16.0604 1.22152 15.7294 0.940506 15.4087 1.06456L0.278287 6.90141C-0.0950995 7.04541 -0.0918461 7.57405 0.282607 7.71437ZM5.16634 8.35789L12.3716 3.92019C12.5011 3.84067 12.6343 4.01576 12.5231 4.11891L6.57669 9.64637C6.36767 9.84093 6.23285 10.1013 6.19466 10.3839L5.9921 11.885C5.96527 12.0855 5.68373 12.1054 5.62842 11.9114L4.84938 9.17405C4.76015 8.86184 4.89018 8.52834 5.16634 8.35789Z" fill="white")
                              span.landing__contacts-social-title
                                |Telegram
                      .landing__contacts-line-col
                        p.landing__contacts-info-text.landing__contacts-info-text--small
                          |9:30 a.m. — 5:30 p.m.
                          br
                          |THU, FRI — days off

    section
      .container(data-aos="fade-up")
        form.contacts-form(action='')
          h3 Any questions?
          include ../components/_form-landing
        form.contacts-form.return-form(action='')
          h3 Any questions?
          .return-inner.form__group
            h5 We have accepted your request #[br] and will process it as soon as we can.
          .form__group
            a.btn.btn--full.btn--info.return--js.btn-arrow(href='#')
              i.icons-left.icon-arrow-med-right
              span Send more
              i.icons-right.icon-arrow-mini-right



block footer

  include ../partials/_footer-plain



block modules

  include ../components/_scroll-up
  include ../components/_landing-popups